[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
	branch = v0.0.78
[submodule "lib/pigeon"]
	path = lib/pigeon
	url = https://github.com/exp-table/pigeon
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry/forge-std
	branch = v1.4.0
